/* ==========================================================================
   @style OrangSpark Theme for AyoBandung.com
   @version 1.0 Lite
   @author M. Riza Alifi
   @contact alifiharafi[at]gmail[dot]com
   @twitter [at]alifiharafi
   @blog alifiharafi[dot]com, digid[dot]web[dot]id
   ========================================================================== */

html, body {
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
	/*background: #123F73;*/
	background: #2A2A2A;
	color: #FFF;
}

p {
	margin: 0;
}

header {	
	padding: 25px 0 15px;
	border-bottom: 1px solid #111;
}

header .container {
	text-align: center;
}

.logo-ayobandung {
	display: inline-block;
	margin: 0 0 10px;
}

h2.logo-desc {
	margin: 0;
    padding: 0;
    color: #FFF;
    font-size: 1.05em;
    line-height: 1.4em;
    text-transform: uppercase;
    letter-spacing: 0.33em;
}

#main-container {
	padding: 0 7px 7px;
	border-top: 1px solid #333;
}

.info-404 {
	text-align: center;
}

h1.code-404 {
	padding: 0;
	margin: 0;
	font-size: 12.0em;
}

h2.code-desc {
	padding: 0 0 25px;
	margin: 0;
	font-size: 2.0em;
}

.info-404 p {
	font-size: 1.2em;
	line-height: 1.6em;
}

.info-500 {
	text-align: center;
}

h1.code-500 {
	padding: 0;
	margin: 0;
	font-size: 12.0em;
}

h2.code-desc {
	padding: 0 0 25px;
	margin: 0;
	font-size: 2.0em;
}

.info-500 p {
	font-size: 1.2em;
	line-height: 1.6em;
}

.info-maintenance {
	text-align: center;
}

.ico-maintenance {
	padding: 0;
	margin: 25px 0 25px;
	font-size: 12.0em !important;
}

h2.ico-desc {
	padding: 0 0 25px;
	margin: 0;
	font-size: 2.0em;
}

.info-maintenance p {
	font-size: 1.2em;
	line-height: 1.6em;
}

.search-form {
	/*background: #113D63;*/
	background: #0A7170;
	padding: 14px 14px 14px;
	margin: 15px 0 0;
}

.container-search {
	padding: 0 !important;
	margin: 0 auto 0;
}

.search-form ul {
	padding: 0;
	margin: 0;
	list-style: none;
	height: 34px;
}

.search-form .src-input {
	float: left;
	padding: 7px 7px 7px;
	width: 88%;
	height: 34px;
	color: #000;
	background: #FFF;
	border: none;
	border: 1px solid #F8F0DB;
}

.search-form button {
	float: left;
	padding: 7px 7px 7px;
	width: 12%;
	height: 34px;
	color: #FFF;
	background: #E74F1D;
	border: none;
	border: 1px solid #c9380c;
}

.search-form button:hover {
	background: #e86943;
}

.main-menu {
	margin-top: 15px;
	text-align: center;
}

.main-menu ul {
	margin: 0;
	padding: 0;
	display: inline-block;
	list-style: none;
}

.main-menu ul li {
	display: inline-block;
	margin-bottom: 5px;
}

.main-menu ul li a {
	font-size: 1.0em;
	/*font-weight: bold;*/
	color: #FFF;
	padding: 2px;
	/*color: #62BFEA;*/
}

.main-menu ul li .separator-menu {
	display: inline-block;
	padding: 0 7px 0; /* for symmetrical purpose, make sure to give one 'space' or 'enter' character after tag 'a' */
}

footer {
	width: 100%;
	background: #2A2A2A;
	margin: 25px 0 0;
}

footer #ftr-level-1 {
	padding: 7px 15px 7px;
	border-top: 5px solid #F7941E;
	border-bottom: 1px solid #111;
}

footer .container {
	padding: 10px 0 10px;	
}

#ftr-level-1 .ftr-amn-title {
	text-align: center;
	margin-bottom: 20px;
}

#ftr-level-1 .ftr-amn-title a {
	font-weight: bold;
	color: #FFF;
	text-decoration: none;
}

#ftr-level-1 .col-std-title {
	padding: 7px 0 9px;
	width: 100%;
	text-transform: uppercase;
	border-bottom: 1px solid #111;
}

#ftr-level-1 .col-std-title h4 {
	padding: 0;
	margin: 3px;
	color: #FFF;
	font-weight: bold;
	font-size: 1.0em;
}

#ftr-level-1 .col-std-title a {
	color: #FFF;
}

#ftr-level-1 .col-std-content {
	padding: 7px 0 7px;
	width: 100%;
	border-top: 1px solid #333;
}

#ftr-level-1 .col-std-content ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

#ftr-level-1 .col-std-content ul li a {
	display: inline-block;
	color: #FFF;
	padding: 5px 0 5px;
	text-decoration: none;
}

#ftr-level-1 .col-std-content ul li a:hover {
	color: #F7941E;
}

footer #ftr-level-2 {
	padding: 7px 15px 7px; /* btm: +25px; */
	border-top: 1px solid #333;
	border-bottom: 1px solid #111;
}

#ftr-level-2 .col-profile-content {
	/* reserved */
}

#ftr-level-2 .col-profile-content .profile-logo {
	display: inline-block;
	width: 60px;
	height: 60px;
	background: url('../img/footer-logo.png') no-repeat;
}

#ftr-level-2 .col-profile-content h4 {
	color: #FFF;
	font-weight: bold;
	font-size: 1.2em;
	line-height: 1.35em;
}

#ftr-level-2 .col-profile-content .profile-content {
	color: #FFF;
	font-size: 0.9em;
}

#ftr-level-2 .col-profile-content ul.profile-links {
	list-style: none;
	margin: 0; 
	padding: 0;
}

#ftr-level-2 .col-profile-content ul.profile-links li {
	margin-bottom: 5px;
}

#ftr-level-2 .col-profile-content ul.profile-links li a {
	color: #FFF;
	font-size: 0.9em;
	text-decoration: none;
}

#ftr-level-2 .col-profile-content ul.profile-links li a:hover {
	color: #F7941E;
}

#ftr-social-feed {
	display: inline-block;
	list-style: none;
	margin: 15px 0 0;
	padding: 0; /* base top: 7 +35 */
}

#ftr-social-feed li {
	float: left;
}

#ftr-social-feed a {
	display: inline-block;
	width: 1.8em;
	height: 1.8em;
	/*background: #113d63;*/
	background: #074948;
	font-size: 1.6em;
    border-radius: 50%;
	text-align: center;
	padding: 0.2em 0 0;
	color: #FFF;
}

#ftr-social-feed .ftr-ico-fb:hover {
	background: #164D8D;
}

#ftr-social-feed .ftr-ico-tw:hover {
	background: #55ACEE;
}

#ftr-social-feed .ftr-ico-ig:hover {
	background: #b7008f;
}

#ftr-social-feed .ftr-ico-yt:hover {
	background: #ed0000;
}

#ftr-social-feed .ftr-ico-rss:hover {
	background: #E88229;
}

#ftr-social-feed .col-twitstream {
	/* reserved - twitter stream start from here */
}

#ftr-level-2 .col-twitstream-title {
	display: inline-block;
	width: 100%;
	padding: 0 0 3px;
	border-bottom: 1px solid #093363;
}

#ftr-level-2 .col-twitstream-title h4 {
	color: #FFF;
	font-weight: bold;
	font-size: 1.1em;
	text-align: center;
}

#ftr-level-2 .col-twitstream-content {
	border-top: 1px solid #224a79;
	padding: 12px 0 0;
}

#ftr-level-2 .col-twitstream-content ul {
	list-style: none;
	margin: 0; 
	padding: 0;
}

#ftr-level-2 .col-twitstream-content ul li {
	margin-bottom: 10px;
	color: #FFF;
	font-size: 1.0em;
	padding-left: 1.5em;
}

/* Reference: http://stackoverflow.com/a/13354689 */
#ftr-level-2 .col-twitstream-content ul li:before {
	content: '\f099';
	font-family: 'FontAwesome';
	display: inline-block;
	width: 1.5em;
	margin-left: -1.5em;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

#ftr-level-2 .col-twitstream-content ul li a {
	color: #62BFEA;
	text-decoration: none;
}

#ftr-level-2 .col-twitstream-content ul li a:hover {
	text-decoration: underline;
}

.ftr-read-more {
	color: #FFF;
	font-size: 0.9em;
	text-align: center;
}

.ftr-read-more:hover,
.ftr-read-more:active {
	text-decoration: none;
	color: #62BFEA;
}

footer #ftr-level-3 {
	position: relative;
	/*height: 130px;*/
	width: 100%;
	padding: 0 15px 0;
	border-top: 1px solid #333;
}

footer #ftr-level-3.only-copyright {
	height: 65px;
}

footer #ftr-level-3.only-copyright .col-copyright {
	text-align: center;
}

#ftr-level-3 .col-miscellaneous,
#ftr-level-3 .col-copyright {
	margin: 12px 0 0;
}

#ftr-level-3 .col-miscellaneous ul {
	display: inline-block;
	list-style: none;
	padding: 0;
}

#ftr-level-3 .col-miscellaneous ul li {
	display: inline-block;
}

#ftr-level-3 .col-miscellaneous ul li a {
	font-size: 0.9em;
	color: #FFF;
	text-decoration: none;
}

#ftr-level-3 .col-miscellaneous ul li a:hover {
	color: #F7941E;
}

#ftr-level-3 .col-copyright {
	font-size: 0.9em;
	color: #FFF;
	text-align: right;
}

.ftr-separator {
	border-top: 1px solid #111;
}

a.lightblue {
	color: #62BFEA;
}

.strong {
	font-weight: bold;
}

.ayo-orange,
a.ayo-orange:hover {
	color: #F7941E;
} 

.ayo-orange-link,
.ayo-orange-link:hover {
	color: #F7941E;
	font-weight: bold;
}

.mg-right-5 {
	margin-right: 5px;
}

.mg-right-15 {
	margin-right: 15px;
}

.mg-btm-15 {
	margin-bottom: 15px;
}

@media (max-width: 991px) {
	h1.code-404 {
		font-size: 9em;
	}
	section[id^="ftr-level-"] {
		text-align: center;
	}
}

@media (max-width: 240px) {
	h1.code-404 {
		font-size: 8em;
	}

	.search-form .src-input {
		width: 82%;
	}

	.search-form button {
		width: 18%;
	}
}